
body {
  background: #1c1c1c;
  color: #fbfbfb;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  min-width: 100%;
}
.embla__slide__img {
  position: relative;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

form.question {
  display: flex;
  padding: 10px;
  width: auto;
  max-width: 80em;
}

@media only screen and (orientation: landscape) {
  .embla__slide__inner {
    flex-direction: row;
  }
  form.question {
    min-width: 20vw;
  }
}

@media only screen and (orientation: portrait) {
  .embla__slide__inner {
    flex-direction: column;
  }
  form.question {
    min-width: 80vw;
  }
}

fieldset {
  border: none;
  padding: 1em;
  width: 100%;
}

fieldset legend {
  width: 100%;
}

button {
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.answered button, .answered input {
  opacity: 0.75;
  margin-left: 10px;
}
.answered .selected {
  opacity: 1.0;
  margin-left: 0px;
}

.answered button {
  background: #3c3c3c;
  border-bottom: none;
  box-shadow: none;
  cursor: auto;
}

.answered button:after {
  display: none;
}

.answered.correct .selected {
  background: green;
}
.answered.correct .selected:before {
  content: "✔";
  color: #fbfbfb;
}

.answered.incorrect .selected {
  background: #a60000;
}
.answered.incorrect .selected:before {
  content: "✘";
  color: #fbfbfb;
}

.answered.incorrect .correct {
  background: #0a4d00;
}
.answered.incorrect .correct:before {
  content: "➤";
  color: #fbfbfb;
}

.question .results {
  display: none;
  line-height: 1.5em;
}

.answered .results {
  display: inline-block;
}

fieldset ol {
  list-style: none;
  line-height: 2em;
}

/* https://github.com/GoogleChrome/dialog-polyfill/blob/master/dist/dialog-polyfill.css */
dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}